services:
  database:
    image: postgres:15
    container_name: trekky-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: trekky-hub
    ports:
      - "5433:5432"


  backend:
    build: ./backend
    container_name: trekky-backend
    depends_on:
      - database
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
